@media (prefers-color-scheme: dark) {
    :root {
        --color-background: rgb(32, 32, 32);
        --color-foreground: white;
        --color-button-background: var(--color-background);
        --color-button-foreground: var(--color-foreground);
        --color-button-border: var(--color-foreground);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: white;
        --color-foreground: black;
        --color-button-background: white;
        --color-button-foreground: black;
        --color-button-border: black;
    }
}

* {
    font-family: 'Antic Slab', sans-serif;
}

body {
    min-width: 350px;
    background-color: var(--color-background);
    color: var(--color-foreground);
}

header {
    margin: 8px;
}

.option {
    margin: 20px;
}

.optionValue {
    padding: 8px;
}

.optionDescription {
    padding: 8px;
}

.optionDescriptionBrief {
    font-size: medium;
}

.optionDescriptionDetails {
    font-size: medium;
}

.spinValue {
    font-size: large;
    margin: 1rem;
}

.spinButton {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.spinDecrease:hover {
    background-color: tomato;
    color: black;
}

.spinIncrease:hover {
    background-color: greenyellow;
    color: black;
}

input[type=button] {
    background-color: var(--color-button-background);
    color: var(--color-button-foreground);
    border-color: var(--color-button-border);
    border-radius: 16px;
    border-style: solid;
    font-size: medium;
}

/*
    ----------------------------------------------------
    Custom checkbox style!
    See: https://www.youtube.com/watch?v=YyLzwR-iXtI
*/

.checkboxContainer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.checkboxContainer label {
    cursor: pointer;
    display: flex;
}

.checkboxContainer input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkboxContainer label::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    border: solid var(--color-button-border);
    border-radius: 4px;
}

.checkboxContainer input[type=checkbox]:checked+label::before {
    /* checkmark character */
    content: '\002714';
    background-color: greenyellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    ----------------------------------------------------
*/