@media (prefers-color-scheme: dark) {
    :root {
        --color-background: rgb(60, 60, 60);
        --color-foreground: white;
        --color-tab-text: black;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: white;
        --color-foreground: black;
        --color-tab-text: white;
    }
}

:root {
    /* Button colors */
    --color-button-background: var(--color-background);
    --color-button-foreground: var(--color-foreground);
    --color-button-border: var(--color-foreground);
    --color-positive: greenyellow;
    --color-negative: tomato;
    /* Tab group colors */
    --color-tab-grey: #B8B8B8;
    --color-tab-blue: #75C4FF;
    --color-tab-red: #FF6C6C;
    --color-tab-yellow: #FDD663;
    --color-tab-green: #7FDA91;
    --color-tab-pink: #FF83CD;
    --color-tab-purple: #B0A4FF;
    --color-tab-cyan: #00BBC6;
    --color-tab-orange: #FFB900;
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    min-width: 350px;
    background-color: var(--color-background);
    color: var(--color-foreground);
}

header {
    margin: 8px;
}

.option {
    margin: 20px;
}

.optionValue {
    padding: 8px;
}

.optionDescription {
    padding: 8px;
}

.optionDescriptionBrief {
    font-size: medium;
}

.optionDescriptionDetails {
    font-size: medium;
}

.credits {
    padding-left: 8px;
}

.spinValue {
    font-size: large;
    margin: 1rem;
}

.spinButton {
    width: 2rem;
    height: 2rem;
}

.spinDecrease:hover {
    background-color: var(--color-negative);
    color: black;
}

.spinIncrease:hover {
    background-color: var(--color-positive);
    color: black;
}

input[type=button] {
    background-color: var(--color-button-background);
    color: var(--color-button-foreground);
    border-color: var(--color-button-border);
    border-radius: 16px;
    border-style: solid;
    font-size: medium;
    cursor: pointer;
}

/*
    ----------------------------------------------------
    Custom checkbox style!
    See: https://www.youtube.com/watch?v=YyLzwR-iXtI
*/

.checkboxContainer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.checkboxContainer label {
    cursor: pointer;
    display: flex;
}

.checkboxContainer input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkboxContainer label::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    border: solid var(--color-button-border);
    border-radius: 4px;
}

.checkboxContainer input[type=checkbox]:checked+label::before {
    /* checkmark character */
    content: '\002714';
    background-color: greenyellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    ----------------------------------------------------
    Group color UI
*/

#newGroupColorAdd {
    width: 2em;
    height: 2em;
}

#newGroupColorAdd:hover {
    background-color: var(--color-positive);
    color: black;
}

#newGroupColorColor {
    color: var(--color-tab-text);
    font-size: medium;
    border-radius: 8px;
}

#newGroupColorName {
    font-size: medium;
    background-color: var(--color-background);
    color: var(--color-foreground);
    border-style: solid;
    border-radius: 8px;
    width: 50%;
}

#groupColorList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#groupColorList li {
    margin: 4px;
    margin-left: 0;
}

#groupColorList li label {
    color: var(--color-tab-text);
    font-size: medium;
    padding: 4px;
    border-radius: 8px;
}

#groupColorList li input[type=button] {
    width: 2em;
    height: 2em;
    margin-left: 0;
}

#groupColorList li input[type=button]:hover {
    background-color: var(--color-negative);
    color: black;
    cursor: pointer;
}

.blue,
option[value='blue'] {
    background-color: var(--color-tab-blue);
}

.red,
option[value='red'] {
    background-color: var(--color-tab-red);
}

.orange,
option[value='orange'] {
    background-color: var(--color-tab-orange);
}

.green,
option[value='green'] {
    background-color: var(--color-tab-green);
}

.pink,
option[value='pink'] {
    background-color: var(--color-tab-pink);
}

.purple,
option[value='purple'] {
    background-color: var(--color-tab-purple);
}

.cyan,
option[value='cyan'] {
    background-color: var(--color-tab-cyan);
}

.grey,
option[value='grey'] {
    background-color: var(--color-tab-grey);
}

.yellow,
option[value='yellow'] {
    background-color: var(--color-tab-yellow);
}